@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(img/fundo1.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}


.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease; 
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}


main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.primary-text {
    width: 950px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.second-text {
    margin-bottom: 7rem;
    font-size: 2rem;
    color: rgb(255, 242, 0);
    text-transform: uppercase;
}


.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover {
    color: rgb(251, 255, 0);
    border: none;
}

.btns button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.btns button:hover:before {
    width: 100%;
}

.box{
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    color: white;
}
fieldset{
    border: 3px solid rgb(79, 80, 70);
}
legend{
    border: 1px solid rgb(107, 100, 100);
    padding: 10px;
    text-align: center;
    background-color: rgb(105, 120, 95);
    border-radius: 8px;
}
.inputbox{
    position: relative;
}
.inputuser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5px;
}
.inputuser:focus ~ .labelInput,
.inputuser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#submit{
    background-image: linear-gradient(rgb(134, 130, 130), rgb(226, 226, 10));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(grey, #ebf220);
}

.carousel{
    max-width: auto;
    width: auto;
    height: auto;
    overflow: hidden;
}

.carousel .fotos{
   width: 520%;
   animation: animacao 10s infinite;
}

.carousel .fotos img{
    width: 19.9%;
}

@keyframes animacao{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
    25% {margin-left: 0%;}
    45% {margin-left: 0%;}
    50% {margin-left: -1%;}
    70% {margin-left: -200%;}
    75% {margin-left: -1%;}
    95% {margin-left: 1%;}
    100% {margin-left: 1%;}
}